<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
                <clear />
                <rule name="Redirect api.php" enabled="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/router.php" />
                </rule>
      </rules>
    </rewrite>
        <handlers accessPolicy="Read, Script">
            <remove name="PHP7FastCgiModule" />
            <remove name="PHP735FashCgiModule" />
            <add name="PHP735FashCgiModule" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="F:\Software\php735\php-cgi.exe" resourceType="File" requireAccess="Script" lockItem="false" />
        </handlers>
  </system.webServer>
</configuration>
